/* CSS reset thanks to https://piccalil.li/blog/a-modern-css-reset */

/* Set CSS variables */
:root {
  --base-border-radius: 10px;
  --hoosky-black: hsl(246, 6%, 9%);
  --hoosky-blue: hsl(204, 100%, 35%);
  --hoosky-red: hsl(354, 77%, 47%);
  --hoosky-white: hsl(354, 0%, 99%);

  /* Fonts */
  --hoosky-font: "Shadows Into Light", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0 auto;
  max-width: min(650px, 95vw);
  line-height: 1.5;
  padding: 2rem;
  font-family: var(--sans-serif);
  background-color: var(--hoosky-black);
  color: var(--hoosky-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--hoosky-font);
}

h1 {
  font-size: 2.5em;
  line-height: 1.25;
}

h2 {
  font-size: 2em;
}

/* Style link elements that don't have a class */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: var(--hoosky-white);
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  text-underline-offset: 0.1em;
  -webkit-text-decoration-color: var(--hoosky-red);
  text-decoration-color: var(--hoosky-red);
  font-size: inherit;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

a:not([class]):hover {
  color: var(--hoosky-red);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom buttons */
.button {
  padding: 0.75rem 1.25rem;
  background-color: var(--hoosky-red);
  border-radius: var(--base-border-radius);
  text-decoration: none;
  color: var(--hoosky-white);
  font-size: 1.15em;
}

.button span {
  margin-left: 0.25rem;
}

/* Default footer */
.footer {
  margin-top: 5rem;
  padding: 1rem;
  text-align: center;
  font-size: 0.85em;
}

.footer p:not(:last-of-type) {
  margin-bottom: 0.25rem;
}
