{% extends "templates/layouts/base.njk" %}

{% block head %}
  <!-- Primary Meta Tags -->
  <title>Northeastern Class of 2025</title>
  <meta name="title" content="{{ site.title }}">
  <meta name="description" content="{{ site.description }}">

  <!-- Load styles -->
  <link rel="stylesheet" href='css/globals.css'>
  <link rel="stylesheet" href='css/index.css'>
{% endblock %}

{% block body %}
  <main>
    <section class="landing-hero">
      <div class="hoosky-image-wrapper"><img src="images/hoosky.png" alt="Hoosky"></div>

      <div>
        <h1 class="title">Northeastern<br>Class of 2025</h1>

        <div class="actions">
          <a href="https://discord.com/invite/northeastern25" target="blank" rel="noopener noreferrer" class="button">
            Join Discord <span>&#x2197;</span>
          </a>
          <a href="https://www.hoosky.store" target="blank" rel="noopener noreferrer" class="button">
            Buy Merch <span>&#x2197;</span>
          </a>
        </div>
      </div>
    </section>

    <nav class="navigation" role="navigation">
      <ul role="list" class="nav-items">
        <li><a href="#donor-wall">Donor Wall &rarr;</a></li>
        <li><a href="#donate">Donate &rarr;</a></li>
        <li><a href="#contribute">Contribute &rarr;</a></li>
      </ul>
    </nav>

    <section id="donor-wall" class="donor-wall">
      <h2>Donor Wall</h2>
      <p>A very special thank you to the following donors. Their generosity makes these projects possible.</p>

      <ul role="list" class="wall">
        <li>Aiyan</li>
        <li>Ethan</li>
        <li>Evan</li>
        <li>Ezgi</li>
        <li>Parker</li>
      </ul>
    </section>

    <section id="donate" class="donate">
      <h2>Donate</h2>
      <p>
        If you are interested in donating, <b>@neu25</b> is our new Venmo account. Any donation, even as little as $1,
        would really help cover our costs. 100% of all donations will go towards funding servers and any projects our
        class may organize in the future.
      </p>

      <p>
        <b>If you donate at least $2/month</b>, as a thank you gesture for donating, you will receive the following
        perks:
      </p>

      <ul class="feature-list">
        <li>Your own exclusive Hoosky Supporter Discord role, hoisted to the top of the member list, with any color you
          want!
        </li>
        <li>Prioritized feature requests</li>
        <li>Inclusion in our online donor wall (above)</li>
        <li>...and more to come! (have an idea? let us know!)</li>
      </ul>

      <p>Make sure to tag your Discord username in your Venmo message!</p>
    </section>

    <section id="contribute" class="contribute">
      <h2>Contribute</h2>
      <p>
        We're currently working on
        <a href="https://github.com/nu25/hoosky-bot" target="blank"
           rel="noopener noreferrer">
          Hoosky Bot &#x2197;
        </a>
        (a custom Discord bot) and
        <a href="https://github.com/nu25/neu25.org" target="blank"
           rel="noopener noreferrer">
          NEU25.org &#x2197;
        </a>
        (this site).
      </p>
      <p>
        If you have any suggestions, ideas, or would like to help out, connect with us on Discord!
      </p>
    </section>
  </main>

  <footer class="footer">
    <p>
      <a href="https://github.com/nu25/neu25.org" target="blank" rel="noopener noreferrer">
        An Open Source Project &#x2197;
      </a>
    </p>
    <p>&copy; 2021 Northeastern Class of 2025 &bull; All Rights Reserved</p>
  </footer>
{% endblock %}
