.landing-hero {
  margin-bottom: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .landing-hero {
    gap: 5rem;
    flex-direction: row;
    align-items: center;
  }
}

.hoosky-image-wrapper {
  margin-left: -1rem; /* Undo image's included padding */
  width: min(35vw, 20rem);
}
